<!-- If the user is logged in, render the painting content -->
{{#if loggedIn}}
<section class="event">
<h3>{{event.name}}</h3>
  <img src="/images/{{event.image}}" alt="{{event.description}}">
  <div class="event-details">
    <p>{{event.description}}</p>
    <p>Location: {{ event.location}}</p>
    <p>Start date: {{ format_date event.starting_date}}</p>
    <p>End date: {{ format_date event.ending_date}}</p>
  </div>
</section>
<!-- Otherwise, provide a link to login -->
{{else}}
<a href="/login">You must login first to view this painting</a>
{{/if}}