{{#each resultData as |event|}}
<section class="events">
    <img src="{{event.images.0.url}}" alt="Photo of {{event.name}}.">
    <div class="event-details">
        <h3>{{event.name}}</h3>
        <p>Date: {{ event.dates.start.localDate}}</p>
        <p>Description: {{ event.classification.genre.name}}</p>
        <p>Venue: {{ event._embedded.venues.0.name}}</p>
        <p>City: {{ event._embedded.venues.0.city.name}},
            {{event._embedded.venues.0.state.stateCode}}</p>
        <a href="{{event.url}}">Click here for more information!</a>
    </div>
</section>
{{/each}}

{{!-- Need to get description to display properly --}}