{{#each resultData as |event|}}
<section class="events">
    <img src="{{event.images.0.url}}" alt="Photo of {{event.name}}.">
    <div class="event-details">
        <h3>{{event.name}}</h3>
        <p>Date: {{ event.dates.start.localDate}}</p>
        <p>Description: {{ event.classification.genre.name}}</p>
        <p>Venue: {{ event._embedded.venues.0.name}}</p>
        <p>City: {{ event._embedded.venues.0.city.name}},
            {{event._embedded.venues.0.state.stateCode}}</p>
        <a href="{{event.url}}">Click here for more information!</a>
        <button class="saveBtn" data-image="{{event.images.0.url}}" data-city="{{event._embedded.venues.0.city.name}}" data-eventName="{{event.name}}" data-startDate="{{event.dates.start.localDate}}" data-genre="{{ event.classification.genre.name}}" data-venue="{{ event._embedded.venues.0.name}}" data-URL="{{event.url}}">Save</button>
    </div>
</section>
{{/each}}


<script src="/js/saveCity.js"></script>
{{!-- This displays in cards. Do we want to display in cards, or in a table format?
Is this the results of the API call, or the data returned from the database?
Do we want the user to be able to select from a list, and save only the selected events? --}}
